<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/tinyd6/templates/partials/item-header.hbs" placeholder='tinyd6.weapon.name'}}
    <table>
        <tr>
            <th class="text-nowrap">{{localize 'tinyd6.weapon.type'}}</th>
            <th class="text-nowrap">{{localize 'tinyd6.weapon.damage'}}</th>
            <th class="text-nowrap">{{localize 'tinyd6.weapon.slots'}}</th>
        </tr>
        <tr>
            <td class="text-nowrap">
                <select name="system.damageType">
                    {{#select data.system.damageType}}
                        {{#each config.weaponTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
                <select name="system.group">
                    {{#select data.system.group}}
                        {{#each config.weaponCategories as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <input type="text" class="text-center" name="system.damage" value="{{data.system.damage}}" dType="Number"/>
            </td>
            <td>
                <input type="text" class="text-center" name="system.slots" value="{{data.system.slots}}" dType="Number"/>
            </td>
        </tr>
    </table>
    {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
</form>
